<template>
  <div class="content-header row" v-if="isLogin">
    <div class="content-header-left col-12 mb-2 mt-1">
      <div class="row breadcrumbs-top">
        <div class="col-12">
          <h5 class="content-header-title float-left pr-1 mb-0">
            {{ selectedCrumb }}
          </h5>
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb p-0 mb-0">
              <li class="breadcrumb-item">
                <router-link :to="{ name: 'dashboard_backend' }"
                  ><i class="bx bx-home-alt"></i
                ></router-link>
              </li>
              <li
                class="breadcrumb-item"
                v-for="(crumb, index) in crumbs"
                :key="crumb.text"
                :class="{ active: isLast(index) }"
              >
                <span v-if="isLast(index)">
                  {{ crumb.text }}
                </span>
                <span v-else>
                  <router-link :to="{ name: crumb.url }">{{
                    crumb.text
                  }}</router-link>
                </span>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isLogin: false,
      crumbs: [],
      selectedCrumb: "",
    };
  },
  watch: {
    "$store.state.selectedCrumb": function () {
      this.selectedCrumb = this.$store.state.selectedCrumb;
    },
    "$store.state.crumbs": function () {
      this.crumbs = this.$store.state.crumbs;
    },
    "$store.state.isAdminLogin": function () {
      this.isLogin = this.$store.state.isAdminLogin;
    },
  },
  computed: {},
  methods: {
    isLast(index) {
      return index == this.crumbs.length - 1;
    },
    selected(crumb) {
      this.$emit("selected", crumb);
    },
    goToPage(url) {
      this.$router.push({ name: url });
    },
  },
};
</script>