<template>
  <nav
    v-show="isAdminLogin"
    class="
      header-navbar
      main-header-navbar
      navbar-expand-lg navbar navbar-with-menu
      fixed-top
      navbar-fixed navbar-brand-center
    "
    data-nav="brand-center"
  >
    <div class="navbar-wrapper">
      <div class="navbar-container content">
        <div class="navbar-collapse" id="navbar-mobile">
          <div
            class="
              mr-auto
              float-left
              bookmark-wrapper
              d-flex
              align-items-center
            "
          >
            <ul class="nav navbar-nav">
              <li class="nav-item mobile-menu d-xl-none mr-auto">
                <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"
                  ><i class="ficon bx bx-menu"></i
                ></a>
              </li>
            </ul>
          </div>
          <ul class="nav navbar-nav float-right">
            <li class="dropdown dropdown-user nav-item">
              <a
                class="dropdown-toggle nav-link dropdown-user-link"
                href="#"
                data-toggle="dropdown"
              >
                <div class="user-nav d-sm-flex d-none">
                  <span class="user-name">{{ user.name }}</span
                  ><span class="user-status text-muted">Available</span>
                </div>
                <span
                  ><img
                    class="round"
                    :src="photo_src"
                    alt="avatar"
                    height="40"
                    width="40"
                /></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right pb-0">
                <a class="dropdown-item" href="page-user-profile.html">
                  <i class="bx bx-user mr-50"></i> Edit Profile</a
                >
                <div class="dropdown-divider mb-0"></div>
                <a class="dropdown-item" @click.prevent="doLogout"
                  ><i class="bx bx-power-off mr-50"></i> Logout</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      photo_src: "/images/male_avatar.png",
      isAdminLogin: false,
      user: {},
    };
  },
  watch: {
    "$store.state.isAdminLogin": function () {
      this.isAdminLogin = this.$store.state.isAdminLogin;

      if (this.$store.state.isAdminLogin) this.user = this.$store.state.user;
      else this.user = {};
    },
  },
  computed: {},
  methods: {
    doLogout() {
      const headers = {
        "Content-Type": "application/json",
        Authorization: "Bearer " + this.$store.state.token,
      };

      axios
        .post("/api/backend/logout", "", {
          headers: headers,
        })
        .then((response) => {
          localStorage.clear();
          this.$router.go({ name: "login" });
        });
    },
  },
};
</script>