<template>
  <div
    class="main-menu menu-fixed menu-light menu-accordion menu-shadow"
    data-scroll-to-active="true"
    v-show="isAdminLogin"
  >
    <div class="navbar-header">
      <ul class="nav navbar-nav flex-row">
        <li class="nav-item mr-auto">
          <a class="navbar-brand" href="/backend/dashboard">
            <div class="brand-logo"><img class="logo" :src="logo_scr" /></div>
            <h2 class="brand-text mb-0">Nikusae</h2>
          </a>
        </li>
        <li class="nav-item nav-toggle">
          <a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"
            ><i class="bx bx-x d-block d-xl-none font-medium-4 primary"></i
            ><i
              class="
                toggle-icon
                bx bx-disc
                font-medium-4
                d-none d-xl-block
                primary
              "
              data-ticon="bx-disc"
            ></i
          ></a>
        </li>
      </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
      <ul
        class="navigation navigation-main"
        id="main-menu-navigation"
        data-menu="menu-navigation"
        data-icon-style="lines"
      >
        <router-link
          :to="{ name: 'dashboard_backend' }"
          v-slot="{ href, navigate, isActive, isExactActive }"
          custom
        >
          <li :class="[isActive && 'active', isExactActive && 'active']">
            <a :href="href" @click="navigate"
              ><i class="menu-livicon" data-icon="desktop"></i
              ><span class="menu-title" data-i18n="Dashboard"
                >Dashboard</span
              ></a
            >
          </li>
        </router-link>

        <router-link
          :to="{ name: 'Cashier' }"
          v-slot="{ href, navigate, isActive, isExactActive }"
          custom
        >
          <li
            class="nav-item"
            :class="[isActive && 'active', isExactActive && 'active']"
          >
            <a :href="href" @click="navigate">
              <i class="menu-livicon" data-icon="coins"></i
              ><span class="menu-title" data-i18n="cashier">Cashier</span></a
            >
          </li>
        </router-link>

        <li class="navigation-header text-truncate">
          <span data-i18n="Master Data">Master Data</span>
        </li>

        <router-link
          :to="{ name: 'user' }"
          v-slot="{ href, navigate, isActive, isExactActive }"
          custom
        >
          <li
            class="nav-item"
            :class="[isActive && 'active', isExactActive && 'active']"
          >
            <a :href="href" @click="navigate">
              <i class="menu-livicon" data-icon="user"></i
              ><span class="menu-title" data-i18n="User Profile">User</span></a
            >
          </li>
        </router-link>
        <router-link
          :to="{ name: 'MenuRestaurant' }"
          v-slot="{ href, navigate, isActive, isExactActive }"
          custom
        >
          <li
            class="nav-item"
            :class="[isActive && 'active', isExactActive && 'active']"
          >
            <a :href="href" @click="navigate">
              <i class="menu-livicon" data-icon="notebook"></i
              ><span class="menu-title" data-i18n="menu restaurant"
                >Menu</span
              ></a
            >
          </li>
        </router-link>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      logo_scr: "/images/logo.png",
      isAdminLogin: this.$store.state.isAdminLogin,
    };
  },
  watch: {
    "$store.state.isAdminLogin": function () {
      this.isAdminLogin = this.$store.state.isAdminLogin;
    },
  },
};
</script>