<template>
    <section class="row flexbox-container">
        <div class="col-xl-12">
            <div class="card bg-transparent shadow-none">
                <div class="card-content">
                    <div class="card-body text-center bg-transparent miscellaneous">
                        <h1 class="error-title">Page Not Found :(</h1>
                        <p class="pb-3">
                            we couldn't find the page you are looking for</p>
                        <img class="img-fluid" :src="image_src" alt="404 error">
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    data(){
        return{
            image_src:'/images/404.png',
        }
    },
}
</script>