<template>
  <section id="menu-restaurant-input">
    <div class="row">
      <div class="col-xl-9 col-md-6 col-12 growth-card">
        <div class="card"></div>
      </div>
      <div class="col-xl-3 col-md-6 col-12">
        <div class="card"></div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  mounted() {
    document.body.classList.add("2-columns", "menu-collapsed");
    this.$store.commit("crumb", {
      selectedCrumb: "Cashier",
      crumbs: [
        {
          url: "#",
          text: "Cashier",
        },
      ],
    });
  },
  methods: {},
};
</script>
