<template>
  <section id="dashboard-input">
    <div class="row">
      <div class="col-xl-3 col-md-6 col-12 growth-card">
        <div class="card">
          <div
            class="
              card-header
              d-flex
              justify-content-between
              align-items-center
            "
          >
            <h4 class="card-title">Daily Target Income</h4>
          </div>
          <div class="card-body text-center">
            <div class="dropdown">
              <button
                class="btn btn-sm btn-outline-secondary"
                type="button"
                id="dropdownMenuButtonSec"
                aria-expanded="false"
              >
                2019
              </button>
            </div>

            <div id="growth-Chart" class="mb-0"></div>
            <h2 class="mb-0 mt-1">$749.56</h2>
            <p class="mb-0">from $1,000</p>
          </div>
        </div>
      </div>
      <div class="col-xl-9 col-md-6 col-12">
        <div class="card">
          <div
            class="
              card-header
              d-flex
              justify-content-between
              align-items-center
            "
          >
            <h4 class="card-title">Most Favorites Menu</h4>

            <div class="card-action card-tabs border-0">
              <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    id="home-tab-fill"
                    data-toggle="tab"
                    href="#home-fill"
                    role="tab"
                    aria-controls="home-fill"
                    aria-selected="true"
                  >
                    Home
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="profile-tab-fill"
                    data-toggle="tab"
                    href="#profile-fill"
                    role="tab"
                    aria-controls="profile-fill"
                    aria-selected="false"
                  >
                    Profile
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="messages-tab-fill"
                    data-toggle="tab"
                    href="#messages-fill"
                    role="tab"
                    aria-controls="messages-fill"
                    aria-selected="false"
                  >
                    Messages
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="settings-tab-fill"
                    data-toggle="tab"
                    href="#settings-fill"
                    role="tab"
                    aria-controls="settings-fill"
                    aria-selected="false"
                  >
                    Settings
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-content">
            <div class="card-body pb-1">
              <div class="d-flex flex-wrap">
                <div class="tab-content pt-1">
                  <div
                    class="tab-pane active"
                    id="home-fill"
                    role="tabpanel"
                    aria-labelledby="home-tab-fill"
                  >
                    <p>
                      Biscuit powder jelly beans. Lollipop candy canes croissant
                      icing chocolate cake. Cake fruitcake powder pudding
                      pastry.
                    </p>
                    <p>
                      Tootsie roll oat cake I love bear claw I love caramels
                      caramels halvah chocolate bar. Cotton candy gummi bears
                      pudding pie apple pie cookie. Cheesecake jujubes lemon
                      drops danish dessert I love caramels powder.
                    </p>
                  </div>
                  <div
                    class="tab-pane"
                    id="profile-fill"
                    role="tabpanel"
                    aria-labelledby="profile-tab-fill"
                  >
                    <p>
                      Tootsie roll oat cake I love bear claw I love caramels
                      caramels halvah chocolate bar. Cotton candy gummi bears
                      pudding pie apple pie cookie. Cheesecake jujubes lemon
                      drops danish dessert I love caramels powder.
                    </p>
                  </div>
                  <div
                    class="tab-pane"
                    id="messages-fill"
                    role="tabpanel"
                    aria-labelledby="messages-tab-fill"
                  >
                    <p>
                      Biscuit powder jelly beans. Lollipop candy canes croissant
                      icing chocolate cake. Cake fruitcake powder pudding
                      pastry.
                    </p>
                  </div>
                  <div
                    class="tab-pane"
                    id="settings-fill"
                    role="tabpanel"
                    aria-labelledby="settings-tab-fill"
                  >
                    <p>
                      Tootsie roll oat cake I love bear claw I love caramels
                      caramels halvah chocolate bar. Cotton candy gummi bears
                      pudding pie apple pie cookie. Cheesecake jujubes lemon
                      drops danish dessert I love caramels powder.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<style>
@import "/css/charts.css";
</style>

<script>
import "/js/apexcharts.js";
import ApexCharts from "apexcharts";
export default {
  components: { ApexCharts },
  mounted() {
    this.dailyTargetIncomeChart();
    document.body.classList.add("2-columns", "menu-collapsed");
    this.$store.commit("crumb", {
      selectedCrumb: "Dashboard",
      crumbs: [],
    });
  },
  data: {
    series: [67],
  },
  methods: {
    dailyTargetIncomeChart() {
      const growthChartOptions = {
        chart: {
          height: 200,
          type: "radialBar",
          sparkline: {
            show: true,
          },
        },
        grid: {
          show: false,
        },
        plotOptions: {
          radialBar: {
            size: 100,
            startAngle: -135,
            endAngle: 135,
            offsetY: 40,
            hollow: {
              size: "60%",
            },
            track: {
              strokeWidth: "90%",
              background: "#fff",
            },
            dataLabels: {
              value: {
                offsetY: -10,
                color: "#475f7b",
                fontSize: "26px",
              },
              name: {
                fontSize: "15px",
                color: "#596778",
                offsetY: 30,
              },
            },
          },
        },
        colors: ["#FF5B5C"],
        fill: {
          type: "gradient",
          gradient: {
            shade: "dark",
            type: "horizontal",
            shadeIntensity: 0.5,
            gradientToColors: ["#5A8DEE"],
            inverseColors: true,
            opacityFrom: 1,
            opacityTo: 1,
            stops: [0, 100],
          },
        },
        stroke: {
          dashArray: 3,
        },
        series: [100],
        labels: [""],
      };

      const growthChart = new ApexCharts(
        document.querySelector("#growth-Chart"),
        growthChartOptions
      );

      growthChart.render();
    },
  },
};
</script>

