<template>
  <section id="auth-login" class="row flexbox-container">
    <div class="col-xl-8 col-11">
      <div class="card bg-authentication mb-0">
        <div class="row m-0">
          <!-- left section-login -->
          <div class="col-md-6 col-12 px-0">
            <div
              class="
                card
                disable-rounded-right
                mb-0
                p-2
                h-100
                d-flex
                justify-content-center
              "
            >
              <div class="card-header pb-1">
                <div class="card-title">
                  <h4 class="text-center mb-2">Welcome back to admin panel</h4>
                </div>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <div class="form-group mb-50">
                    <label class="text-bold-600" for="nik">Nik</label>
                    <input
                      type="text"
                      :class="isNikError"
                      id="nik"
                      name="nik"
                      placeholder="Place your nik here"
                      v-model="form.nik"
                      autocomplete="off"
                    />
                    <div class="is-invalid-feedback" v-if="isNikEmpty">
                      <i class="bx bx-radio-circle"></i>
                      {{ errorNikMsg }}
                    </div>
                  </div>
                  <div>
                    <label class="text-bold-600" for="password">Password</label>

                    <fieldset class="form-group position-relative">
                      <input
                        :type="passwordFieldType"
                        :class="isPassError"
                        id="password"
                        placeholder="Place your password here"
                        name="password"
                        v-model="form.password"
                        autocomplete="off"
                      />
                      <div class="form-control-position">
                        <i :class="iconType" @click.prevent="doShowPass"></i>
                      </div>
                      <div class="is-invalid-feedback" v-if="isPassEmpty">
                        <i class="bx bx-radio-circle"></i>
                        {{ errorPassMsg }}
                      </div>
                    </fieldset>
                  </div>
                  <button
                    type="submit"
                    @click.prevent="doLogin"
                    class="btn btn-primary glow w-100 position-relative"
                  >
                    Login<i id="icon-arrow" class="bx bx-right-arrow-alt"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- right section image -->
          <div
            class="col-md-6 d-md-block d-none text-center align-self-center p-3"
          >
            <div class="card-content">
              <img class="img-fluid" :src="image_src" alt="branding logo" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  mounted() {
    document.body.classList.remove("2-columns", "menu-collapsed");
    document.body.classList.add(
      "1-column",
      "bg-full-screen-image",
      "blank-page"
    );
    document.body.setAttribute("data-col", "1-column");
  },
  data() {
    return {
      form: {
        nik: "",
        password: "",
        _token: "",
      },
      iconType: "bx bx-hide",
      passwordFieldType: "password",
      image_src: "/images/logo.png",
      errorPassMsg: "",
      errorNikMsg: "",
      isNikEmpty: false,
      isPassEmpty: false,
    };
  },
  computed: {
    isNikError: function () {
      return this.isNikEmpty
        ? "form-control is-error-validated"
        : "form-control";
    },
    isPassError: function () {
      return this.isPassEmpty
        ? "form-control is-error-validated"
        : "form-control";
    },
  },
  methods: {
    doLogin() {
      axios
        .post("/api/backend/login", this.form)
        .then((response) => {
          this.errorNikMsg = "";
          this.errorPassMsg = "";
          this.isNikEmpty = false;
          this.isPassEmpty = false;

          this.$store.commit("adminAuthenticate", {
            token: response.data.data.token,
          });

          this.$router.go({ name: "dashboard_backend" });
        })
        .catch((error) => {
          if (error.response.status == "500") {
            Swal({
              toast: true,
              position: "top-end",
              type: "error",
              title: "Something went wrong, please contact ICT",
              showConfirmButton: false,
              timer: 3000,
              timerProgressBar: true,
              didOpen: (toast) => {
                toast.addEventListener("mouseenter", Swal.stopTimer);
                toast.addEventListener("mouseleave", Swal.resumeTimer);
              },
            });
          } else {
            if (error.response) {
              if (error.response.data.errors) {
                if (error.response.data.errors.hasOwnProperty("nik")) {
                  this.isNikEmpty = true;
                  this.errorNikMsg = error.response.data.errors.nik[0];
                } else {
                  this.isNikEmpty = false;
                  this.errorNikMsg = "";
                }

                if (error.response.data.errors.hasOwnProperty("password")) {
                  this.isPassEmpty = true;
                  this.errorPassMsg = error.response.data.errors.password[0];
                } else {
                  this.isPassEmpty = false;
                  this.errorPassMsg = "";
                }
              } else {
                this.isNikEmpty = false;
                this.isPassEmpty = false;
                this.errorPassMsg = "";
                this.errorNikMsg = "";
              }
            }
          }
        });
    },
    doShowPass() {
      this.passwordFieldType =
        this.passwordFieldType === "password" ? "text" : "password";
      this.iconType =
        this.iconType === "bx bx-hide" ? "bx bx-show" : "bx bx-hide";
    },
  },
  destroyed() {
    document.body.classList.remove(
      "vertical-layout",
      "vertical-menu-modern",
      "1-column",
      "navbar-sticky",
      "footer-static",
      "bg-full-screen-image",
      "blank-page"
    );
  },
};
</script>