<template>
  <section id="menu-restaurant-input">
    <div class="px-1">
      <form>
        <div class="row border rounded py-2 mb-2">
          <div class="col-12 col-sm-6 col-lg-8">
            <label for="users-list-verified">Keyword</label>
            <div class="position-relative has-icon-left">
              <input
                type="text"
                id="searchData"
                class="form-control"
                name="searchData"
                placeholder="Keyword"
                v-model="searchTerm"
                v-on:keydown.enter.prevent=""
              />
              <div class="form-control-position">
                <i class="bx bx-search"></i>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 d-flex align-items-center">
            <button
              type="button"
              @click.prevent="refreshInfiniteLoading()"
              class="btn btn-primary btn-block glow mb-0 mt-2"
            >
              Search
            </button>
            <button
              type="reset"
              class="btn btn-secondary btn-block glow mb-0 mt-2"
              @click.prevent="clearSearch()"
            >
              Clear
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="text-center mt-0 mb-1">
                <img
                  :src="form.showImage"
                  :alt="form.name"
                  style="height: 10em"
                  class="card-img-top img-fluid"
                />
              </div>
              <form class="form form-horizontal">
                <div class="form-body">
                  <div class="row">
                    <div class="col-md-4">
                      <label>Image</label>
                    </div>
                    <div class="col-md-8 form-group">
                      <div class="position-relative has-icon-left">
                        <div class="custom-file">
                          <input
                            type="file"
                            class="custom-file-input"
                            id="imageMenuRestaurant"
                            name="imageMenuRestaurant"
                            accept="image/*"
                            @change.prevent="onImageChange"
                          />
                          <div class="form-control-position">
                            <i class="bx bx-align-middle"></i>
                          </div>
                          <div class="is-invalid-feedback" v-if="!form.image">
                            Required
                          </div>
                          <label :class="isUploadFileError">{{
                            file_name
                          }}</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label
                        >Category<span style="color: #ff5b5c">*</span></label
                      >
                    </div>
                    <div class="col-md-8 form-group">
                      <div class="position-relative has-icon-left">
                        <fieldset class="form-group">
                          <div class="input-group">
                            <select
                              class="custom-select"
                              id="inputGroupSelect02"
                            >
                              <option selected="">Choose...</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                            <div class="input-group-append">
                              <label
                                class="input-group-text"
                                for="inputGroupSelect02"
                                >Options</label
                              >
                            </div>
                          </div>
                        </fieldset>
                        <div class="is-invalid-feedback" v-if="!form.category">
                          Required
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label>Name<span style="color: #ff5b5c">*</span></label>
                    </div>
                    <div class="col-md-8 form-group">
                      <div class="position-relative has-icon-left">
                        <input
                          type="text"
                          id="name"
                          :class="isNameError"
                          name="name"
                          v-model="form.name"
                          placeholder="Name"
                          autocomplete="off"
                        />
                        <div class="form-control-position">
                          <i class="bx bx-user"></i>
                        </div>
                        <div class="is-invalid-feedback" v-if="!form.name">
                          Required
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label>Price<span style="color: #ff5b5c">*</span></label>
                    </div>
                    <div class="col-md-8 form-group">
                      <div class="position-relative has-icon-left">
                        <input
                          type="number"
                          id="mobile"
                          :class="isPriceError"
                          name="mobile"
                          v-model="form.price"
                          placeholder="Price"
                          autocomplete="off"
                        />
                        <div class="form-control-position">
                          <i class="bx bx-dollar"></i>
                        </div>
                        <div
                          class="is-invalid-feedback"
                          v-if="!form.phoneNumber"
                        >
                          Required
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label>Description</label>
                    </div>
                    <div class="col-md-8 form-group">
                      <div class="position-relative has-icon-left">
                        <textarea
                          :class="isDescriptionError"
                          id="description"
                          name="description"
                          rows="3"
                          v-model="form.description"
                          placeholder="Description"
                          autocomplete="off"
                        ></textarea>

                        <div class="form-control-position">
                          <i class="bx bx-align-middle"></i>
                        </div>
                        <div
                          class="is-invalid-feedback"
                          v-if="!form.description"
                        >
                          Required
                        </div>
                      </div>
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                      <button
                        type="submit"
                        class="btn btn-primary mr-1 mb-1"
                        @click.prevent="doStore"
                      >
                        Submit
                      </button>
                      <button
                        type="reset"
                        @click.prevent="resetForm"
                        class="btn btn-light-secondary mr-1 mb-1"
                      >
                        Reset
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-md-6 col-12">
        <div class="stuck" style="height: 30em">
          <div class="card" v-for="(item, index) in lists" :key="index">
            <div class="card-header">
              <ul class="list-inline d-flex mb-25 mb-sm-0 float-left">
                <li class="d-flex align-items-center">
                  <i class="bx bx-menu mr-50 font-medium-3"></i>
                  <div class="dropdown">
                    <div
                      class="dropdown-toggle cursor-pointer"
                      role="button"
                      id="dropdownMenuButton2"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Action
                    </div>
                    <div
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton2"
                    >
                      <a
                        class="dropdown-item"
                        @click.prevent="doEdit(item.url_edit_data)"
                        >Edit</a
                      >
                      <a
                        class="dropdown-item"
                        @click.prevent="doDelete(item.url_delete_data)"
                        >Delete</a
                      >
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="card-content">
              <div class="text-center">
                <img
                  v-if="item.image"
                  :src="item.url_image"
                  :alt="item.name"
                  style="height: 20em"
                  class="img-fluid card-img-top"
                />
                <img
                  v-else
                  :src="imageNotFound"
                  alt="image not found"
                  style="height: 20em"
                  class="card-img-top img-fluid"
                />
              </div>

              <div class="card-body">
                <h4 class="card-title text-center mt-1">
                  {{ item.name }}
                </h4>
              </div>
            </div>
          </div>

          <infinite-loading
            :identifier="infiniteId"
            @infinite="infiniteHandler"
          >
            <div slot="no-more"></div>
            <div slot="no-results">No results message</div>
          </infinite-loading>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  mounted() {
    document.body.classList.add("2-columns", "menu-collapsed");
    this.$store.commit("crumb", {
      selectedCrumb: "Menu Restaurant",
      crumbs: [
        {
          url: "#",
          text: "Menu Restaurant",
        },
      ],
    });
  },
  data() {
    return {
      imageNotFound: "/images/image_not_found.png",
      lists: [],
      searchTerm: "",
      lastId: "",
      page: "1",
      form: {
        _id: "-1",
        name: "",
        description: "",
        price: "",
        image: "",
        showImage: "/images/image_not_found.png",
      },
      file_name: "Choose file",
      isImageChanged: false,
      isLoading: false,
      infiniteId: +new Date(),
    };
  },
  computed: {
    isNameError: function () {
      return !this.form.name
        ? "form-control is-error-validated"
        : "form-control";
    },
    isDescriptionError: function () {
      return !this.form.idCard
        ? "form-control is-error-validated"
        : "form-control";
    },
    isPriceError: function () {
      return !this.form.phoneNumber
        ? "form-control is-error-validated"
        : "form-control";
    },
    isUploadFileError: function () {
      return !this.form.image
        ? "custom-file-label is-error-validated"
        : "custom-file-label";
    },
  },
  methods: {
    infiniteHandler($state) {
      let vm = this;
      axios
        .get("/api/backend/menu-restaurant/data", {
          headers: {
            Authorization: "Bearer " + this.$store.state.token,
          },
          params: {
            searchTerm: this.searchTerm,
            lastId: this.lastId,
          },
        })
        .then((response) => {
          if (response.data.data.menuRestaurants.length > 0) {
            $.each(response.data.data.menuRestaurants, function (key, value) {
              vm.lists.push(value);
            });

            vm.page += 1;
            $state.loaded();
            vm.lastId = response.data.data.lastID;
          } else {
            $state.complete();
          }
        });
    },
    onImageChange(e) {
      let files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;

      this.isImageChanged = true;
      this.form.image = files[0];
      this.file_name = files[0].name;
      this.createImage(files[0]);
    },
    createImage(file) {
      let reader = new FileReader();
      let vm = this;
      reader.onload = (e) => {
        vm.imageNotFound = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    doStore() {
      if (
        !this.form.name ||
        !this.form.image ||
        !this.form.price ||
        !this.form.description
      ) {
        Swal({
          type: "warning",
          title: "Please check again your data",
          showConfirmButton: false,
          timer: 3000,
        });
        return false;
      } else {
        let formData = new FormData();
        formData.append("_id", this.form._id);
        formData.append("name", this.form.name);
        formData.append("description", this.form.description);
        formData.append("image", this.form.image);
        formData.append("price", this.form.price);
        formData.append("isImageChanged", this.isImageChanged);

        const headers = {
          "Content-Type": "multipart/form-data",
          Authorization: "Bearer " + this.$store.state.token,
        };

        this.isLoading = true;
        axios
          .post("/api/backend/menu-restaurant/store", formData, {
            headers,
          })
          .then((response) => {
            if (response.status === 200) {
              this.isLoading = false;

              Swal({
                type: "success",
                title: "Data has been saved",
                showConfirmButton: false,
                timer: 3000,
              });

              this.refreshInfiniteLoading();
              this.resetForm();
            }
          })
          .catch((error) => {
            this.isLoading = false;
            console.log(error.data);
          });
      }
    },
    doDelete(url) {
      Swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes",
        confirmButtonClass: "btn btn-warning",
        cancelButtonClass: "btn btn-default ml-1",
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          axios
            .post(url, "", {
              headers: {
                Authorization: "Bearer " + this.$store.state.token,
              },
            })
            .then(() => {
              Swal({
                type: "success",
                title: "Data has been deleted",
                showConfirmButton: false,
                timer: 3000,
              });

              this.refreshInfiniteLoading();
            });
        }
      });
    },
    doEdit(url) {
      axios
        .get(url, {
          headers: {
            Authorization: "Bearer " + this.$store.state.token,
          },
        })
        .then((response) => {
          const data = response.data.data.menuRestaurant;
          if (data) {
            this.form = {
              _id: data.id,
              name: data.name,
              description: data.description,
              image: data.image,
              price: data.price,
              showImage: data.url_image,
            };
            this.isImageChanged = false;
            this.file_name = data.image ? data.image : "Choose file";
          }
        });
    },
    refreshInfiniteLoading() {
      this.page = "1";
      this.lastId = "";
      this.lists = [];
      this.infiniteId += 1;
    },
    clearSearch() {
      this.searchTerm = "";
      this.refreshInfiniteLoading();
    },
    doChangeOption(e) {
      console.log("asd");
      console.log(e);
    },
    resetForm() {
      this.form = {
        _id: "-1",
        name: "",
        description: "",
        price: "",
        image: "",
        showImage: "/images/image_not_found.png",
      };
      this.isImageChanged = false;
      this.file_name = "Choose file";
    },
  },
};
</script>
