  <template>
  <nav aria-label="Page navigation">
    <ul class="pagination pagination-borderless justify-content-center mt-2">
      <li class="page-item previous" v-if="pagination.current_page > 1">
        <a
          class="page-link"
          href="javascript:void(0);"
          v-on:click.prevent="changePage(pagination.current_page - 1)"
        >
          <i class="bx bx-chevron-left"></i>
        </a>
      </li>

      <li
        class="page-item"
        v-for="page in pagesNumber"
        :key="page.page"
        :class="{ active: page == pagination.current_page }"
      >
        <a
          class="page-link"
          href="javascript:void(0);"
          v-on:click.prevent="changePage(page)"
          >{{ page }}</a
        >
      </li>

      <li
        class="page-item next"
        v-if="pagination.current_page < pagination.last_page"
      >
        <a
          class="page-link"
          href="javascript:void(0);"
          v-on:click.prevent="changePage(pagination.current_page + 1)"
        >
          <i class="bx bx-chevron-right"></i>
        </a>
      </li>
    </ul>
  </nav>
</template>
<script>
export default {
  props: {
    pagination: {
      type: Object,
      required: true,
    },
    offset: {
      type: Number,
      default: 4,
    },
  },
  computed: {
    pagesNumber() {
      if (!this.pagination.to) {
        return [];
      }
      let from = this.pagination.current_page - this.offset;
      if (from < 1) {
        from = 1;
      }
      let to = from + this.offset * 2;
      if (to >= this.pagination.last_page) {
        to = this.pagination.last_page;
      }
      let pagesArray = [];
      for (let page = from; page <= to; page++) {
        pagesArray.push(page);
      }
      return pagesArray;
    },
  },
  methods: {
    changePage(page) {
      this.pagination.current_page = page;
      this.$emit("paginate");
    },
  },
};
</script>