<template>
  <section id="user-input">
    <div class="px-1">
      <form>
        <div class="row border rounded py-2 mb-2">
          <div class="col-12 col-sm-6 col-lg-8">
            <label for="users-list-verified">Keyword</label>
            <div class="position-relative has-icon-left">
              <input
                type="text"
                id="searchData"
                class="form-control"
                name="searchData"
                placeholder="Keyword"
                v-model="searchTerm"
                v-on:keydown.enter.prevent=""
              />
              <div class="form-control-position">
                <i class="bx bx-search"></i>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 d-flex align-items-center">
            <button
              type="button"
              @click.prevent="refreshInfiniteLoading()"
              class="btn btn-primary btn-block glow mb-0 mt-2"
            >
              Search
            </button>
            <button
              type="reset"
              class="btn btn-secondary btn-block glow mb-0 mt-2"
              @click.prevent="clearSearch()"
            >
              Clear
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="text-center mb-1">
                <div class="avatar">
                  <img
                    height="90"
                    width="90"
                    :src="form.showImage"
                    :alt="form.name"
                  />
                </div>
              </div>
              <form class="form form-horizontal">
                <div class="form-body">
                  <div class="row">
                    <div class="col-md-4">
                      <label>Photo</label>
                    </div>
                    <div class="col-md-8 form-group">
                      <div class="position-relative has-icon-left">
                        <div class="custom-file">
                          <input
                            type="file"
                            class="custom-file-input"
                            id="imageMenuRestaurant"
                            name="imageMenuRestaurant"
                            accept="image/*"
                            @change.prevent="onImageChange"
                          />
                          <div class="form-control-position">
                            <i class="bx bx-align-middle"></i>
                          </div>

                          <label class="custom-file-label">{{
                            file_name
                          }}</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label
                        >ID Card (KTP)
                        <span style="color: #ff5b5c">*</span></label
                      >
                    </div>
                    <div class="col-md-8 form-group">
                      <div class="position-relative has-icon-left">
                        <input
                          type="text"
                          id="idCard"
                          :class="isIdCardError"
                          name="idCard"
                          v-model="form.idCard"
                          placeholder="Id card (KTP)"
                          autocomplete="off"
                        />
                        <div class="form-control-position">
                          <i class="bx bx-id-card"></i>
                        </div>
                        <div
                          class="is-invalid-feedback"
                          v-if="!this.form.idCard"
                        >
                          Required
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label>Name<span style="color: #ff5b5c">*</span></label>
                    </div>
                    <div class="col-md-8 form-group">
                      <div class="position-relative has-icon-left">
                        <input
                          type="text"
                          id="name"
                          :class="isNameError"
                          name="name"
                          v-model="form.name"
                          placeholder="Name"
                          autocomplete="off"
                        />
                        <div class="form-control-position">
                          <i class="bx bx-user"></i>
                        </div>
                        <div class="is-invalid-feedback" v-if="!this.form.name">
                          Required
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label
                        >Date of Birth<span style="color: #ff5b5c"
                          >*</span
                        ></label
                      >
                    </div>
                    <div class="col-md-8 form-group">
                      <div class="position-relative has-icon-left">
                        <vue-datetime
                          type="date"
                          placeholder="Date of birth"
                          v-model="form.dateOfBirth"
                          :input-class="isDateError"
                          value-zone="Asia/Jakarta"
                          zone="Asia/Jakarta"
                          format="dd/MM/yyyy"
                          :backdrop-click="false"
                          :week-start="7"
                        ></vue-datetime>
                        <div class="form-control-position">
                          <i class="bx bx-calendar"></i>
                        </div>
                        <div
                          class="is-invalid-feedback"
                          v-if="!this.form.dateOfBirth"
                        >
                          Required
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label
                        >Joining Date<span style="color: #ff5b5c"
                          >*</span
                        ></label
                      >
                    </div>
                    <div class="col-md-8 form-group">
                      <div class="position-relative has-icon-left">
                        <vue-datetime
                          type="date"
                          v-if="this.form._id == -1"
                          placeholder="Date of join"
                          v-model="form.joiningDate"
                          :input-class="isJoiningDateError"
                          value-zone="Asia/Jakarta"
                          zone="Asia/Jakarta"
                          format="dd/MM/yyyy"
                          :backdrop-click="false"
                          :week-start="7"
                        ></vue-datetime>
                        <input
                          v-else
                          type="text"
                          readonly="readonly"
                          v-model="form.joiningDate"
                          id="readonlyJoiningDate"
                          class="form-control"
                          name="readonlyJoiningDate"
                        />
                        <div class="form-control-position">
                          <i class="bx bx-calendar"></i>
                        </div>
                        <div
                          class="is-invalid-feedback"
                          v-if="!this.form.joiningDate"
                        >
                          Required
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label>Email</label>
                    </div>
                    <div class="col-md-8 form-group">
                      <div class="position-relative has-icon-left">
                        <input
                          type="email"
                          id="email"
                          class="form-control"
                          name="email"
                          v-model="form.email"
                          placeholder="Email"
                          autocomplete="off"
                        />
                        <div class="form-control-position">
                          <i class="bx bx-mail-send"></i>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label>Mobile<span style="color: #ff5b5c">*</span></label>
                    </div>
                    <div class="col-md-8 form-group">
                      <div class="position-relative has-icon-left">
                        <input
                          type="number"
                          id="mobile"
                          :class="isMobileError"
                          name="mobile"
                          v-model="form.phoneNumber"
                          placeholder="Mobile"
                          autocomplete="off"
                        />
                        <div class="form-control-position">
                          <i class="bx bx-mobile"></i>
                        </div>
                        <div
                          class="is-invalid-feedback"
                          v-if="!this.form.phoneNumber"
                        >
                          Required
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label>Address</label>
                    </div>
                    <div class="col-md-8 form-group">
                      <div class="position-relative has-icon-left">
                        <textarea
                          class="form-control"
                          id="address"
                          name="address"
                          rows="3"
                          v-model="form.homeAddress"
                          placeholder="Address"
                          autocomplete="off"
                        ></textarea>

                        <div class="form-control-position">
                          <i class="bx bx-map-alt"></i>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                      <button
                        type="submit"
                        class="btn btn-primary mr-1 mb-1"
                        @click.prevent="doStore"
                      >
                        Submit
                      </button>
                      <button
                        type="reset"
                        @click.prevent="resetForm"
                        class="btn btn-light-secondary mr-1 mb-1"
                      >
                        Reset
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-md-6 col-12">
        <div class="stuck">
          <div class="card-deck-wrapper">
            <div :class="isCardDeck">
              <div class="row no-gutters">
                <div
                  class="col-md-4 col-sm-6 mb-sm-1"
                  v-for="(item, index) in lists"
                  :key="index"
                >
                  <div class="card">
                    <div class="card-header">
                      <ul class="list-inline d-flex mb-25 mb-sm-0 float-left">
                        <li class="d-flex align-items-center">
                          <i class="bx bx-menu mr-50 font-medium-3"></i>
                          <div class="dropdown">
                            <div
                              class="dropdown-toggle cursor-pointer"
                              role="button"
                              id="dropdownMenuButton2"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              Action
                            </div>
                            <div
                              class="dropdown-menu"
                              aria-labelledby="dropdownMenuButton2"
                            >
                              <a
                                class="dropdown-item"
                                @click.prevent="doEdit(item.url_edit_data)"
                                >Edit</a
                              >
                              <a
                                class="dropdown-item"
                                @click.prevent="doDelete(item.url_delete_data)"
                                >Delete</a
                              >
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="card-content">
                      <div class="text-center">
                        <div class="avatar">
                          <img
                            height="90"
                            width="90"
                            :src="item.url_photo"
                            :alt="item.name"
                          />
                        </div>
                      </div>

                      <div class="card-body">
                        <h4 class="card-title text-center mt-1">
                          {{ item.name }}
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <infinite-loading
            :identifier="infiniteId"
            @infinite="infiniteHandler"
          >
            <div slot="no-more"></div>
            <div slot="no-results">No results message</div>
          </infinite-loading>
        </div>
      </div>
    </div>
    <BlockUI v-show="isLoading"><img src="/images/loading.gif" /></BlockUI>
  </section>
</template>

<script>
import { DateTime } from "luxon";
export default {
  mounted() {
    document.body.classList.add("2-columns", "menu-collapsed");
    this.$store.commit("crumb", {
      selectedCrumb: "User",
      crumbs: [
        {
          url: "#",
          text: "User",
        },
      ],
    });
  },
  data() {
    return {
      lists: [],
      searchTerm: "",
      lastId: "",
      page: "1",
      form: {
        _id: "-1",
        name: "",
        idCard: "",
        homeAddress: "",
        dateOfBirth: "",
        email: "",
        phoneNumber: "",
        photo: "",
        showImage: "/images/male_avatar.png",
      },
      isImageChanged: false,
      isLoading: false,
      infiniteId: +new Date(),
      imageNotFound: "/images/male_avatar.png",
      file_name: "Choose file",
    };
  },
  computed: {
    isCardDeck: function () {
      return this.lists.length > 1 ? "card-deck" : null;
    },
    isDateError: function () {
      return !this.form.dateOfBirth
        ? "form-control is-error-validated"
        : "form-control";
    },
    isJoiningDateError: function () {
      return !this.form.joiningDate
        ? "form-control is-error-validated"
        : "form-control";
    },
    isNameError: function () {
      return !this.form.name
        ? "form-control is-error-validated"
        : "form-control";
    },
    isIdCardError: function () {
      return !this.form.idCard
        ? "form-control is-error-validated"
        : "form-control";
    },
    isMobileError: function () {
      return !this.form.phoneNumber
        ? "form-control is-error-validated"
        : "form-control";
    },
  },
  methods: {
    infiniteHandler($state) {
      let vm = this;
      axios
        .get("/api/backend/user/data", {
          headers: {
            Authorization: "Bearer " + this.$store.state.token,
          },
          params: {
            searchTerm: this.searchTerm,
            lastId: this.lastId,
          },
        })
        .then((response) => {
          if (response.data.data.users.length > 0) {
            $.each(response.data.data.users, function (key, value) {
              vm.lists.push(value);
            });

            vm.page += 1;
            $state.loaded();
            vm.lastId = response.data.data.lastID;
          } else {
            $state.complete();
          }
        });
    },
    onImageChange(e) {
      let files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;

      this.isImageChanged = true;
      this.form.photo = files[0];
      this.file_name = files[0].name;
      this.createImage(files[0]);
    },
    createImage(file) {
      let reader = new FileReader();
      let vm = this;
      reader.onload = (e) => {
        vm.form.showImage = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    doStore() {
      if (
        !this.form.idCard ||
        !this.form.name ||
        !this.form.dateOfBirth ||
        !this.form.joiningDate ||
        !this.form.phoneNumber
      ) {
        Swal({
          type: "warning",
          title: "Please check again your data",
          showConfirmButton: false,
          timer: 3000,
        });
        return false;
      } else {
        this.form.dateOfBirth = DateTime.fromISO(
          this.form.dateOfBirth
        ).toFormat("yyyy-MM-dd");

        this.form.joiningDate = DateTime.fromISO(
          this.form.joiningDate
        ).toFormat("yyyy-MM-dd");

        let formData = new FormData();
        formData.append("_id", this.form._id);
        formData.append("name", this.form.name);
        formData.append("nationality_number", this.form.idCard);
        formData.append("home_address", this.form.homeAddress);
        formData.append("date_of_birth", this.form.dateOfBirth);
        formData.append("joining_date", this.form.joiningDate);
        formData.append("phone_number", this.form.phoneNumber);
        formData.append("email", this.form.email);
        formData.append("photo", this.form.photo);
        formData.append("isImageChanged", this.isImageChanged);

        const headers = {
          "Content-Type": "multipart/form-data",
          Authorization: "Bearer " + this.$store.state.token,
        };

        this.isLoading = true;
        axios
          .post("/api/backend/user/store", formData, {
            headers,
          })
          .then((response) => {
            if (response.status === 200) {
              this.isLoading = false;

              Swal({
                type: "success",
                title: "Data has been saved",
                showConfirmButton: false,
                timer: 3000,
              });

              this.refreshInfiniteLoading();
              this.resetForm();
            }
          })
          .catch((error) => {
            this.isLoading = false;
            console.log(error.data);
          });
      }
    },
    doDelete(url) {
      Swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes",
        confirmButtonClass: "btn btn-warning",
        cancelButtonClass: "btn btn-default ml-1",
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          axios
            .post(url, "", {
              headers: {
                Authorization: "Bearer " + this.$store.state.token,
              },
            })
            .then(() => {
              Swal({
                type: "success",
                title: "Data has been deleted",
                showConfirmButton: false,
                timer: 3000,
              });

              this.refreshInfiniteLoading();
            })
            .catch((error) => {
              if (error.response) {
              }
            });
        }
      });
    },
    doEdit(url) {
      axios
        .get(url, {
          headers: {
            Authorization: "Bearer " + this.$store.state.token,
          },
        })
        .then((response) => {
          const data = response.data.data.user;
          if (data) {
            this.form = {
              _id: data.id,
              name: data.name,
              idCard: data.nationality_number,
              joiningDate: data.joining_date,
              homeAddress: data.home_address,
              dateOfBirth: data.date_of_birth,
              email: data.email,
              phoneNumber: data.phone_number,
              photo: data.photo,
              showImage: data.url_photo,
            };

            this.file_name = data.photo ? data.photo : "Choose file";
            this.isImageChanged = false;
          }
        });
    },
    refreshInfiniteLoading() {
      this.page = "1";
      this.lastId = "";
      this.lists = [];
      this.infiniteId += 1;
    },
    clearSearch() {
      this.searchTerm = "";
      this.refreshInfiniteLoading();
    },
    resetForm() {
      this.form = {
        _id: "-1",
        name: "",
        idCard: "",
        joiningDate: "",
        homeAddress: "",
        dateOfBirth: "",
        email: "",
        phoneNumber: "",
        photo: "",
        showImage: "/images/male_avatar.png",
      };

      this.isImageChanged = false;
      this.file_name = "Choose file";
    },
  },
};
</script>
