<template>
  <div class="table-responsive">
    <vue-good-table
      mode="remote"
      :columns="columns"
      :rows="rows"
      :globalSearch="true"
      :sort-options="{
        enabled: false,
      }"
      :search-options="{
        enabled: true,
        trigger: 'enter',
        placeholder: 'Search this table',
        skipDiacritics: true,
      }"
      @on-search="onSearch"
      styleClass="table table-striped mb-0"
    >
      <template slot="table-row" slot-scope="props">
        <span v-if="props.column.field === 'S.No'">
          {{
            participants.per_page * (participants.current_page - 1) +
            (props.index + 1)
          }}
        </span>

        <div class="dropdown" v-if="props.column.field === 'action'">
          <span
            class="
              bx bx-dots-vertical-rounded
              font-medium-3
              dropdown-toggle
              nav-hide-arrow
              cursor-pointer
            "
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            role="menu"
          ></span>
          <div class="dropdown-menu dropdown-menu-right">
            <a
              class="dropdown-item invitation-card"
              :href="props.row.url_invitation_card"
              target="_blank"
              ><i class="bx bxs-card mr-1"></i> Invitation Card</a
            >
            <a
              class="dropdown-item edit-participant"
              href="#"
              @click="editParticipant(props.row.id)"
              ><i class="bx bx-edit-alt mr-1"></i> Edit</a
            >
            <a
              class="dropdown-item delete-participant"
              href="#"
              :data-id="props.row.id"
              @click="deleteParticipant(props.row.id)"
              ><i class="bx bx-trash mr-1"></i> Delete</a
            >
          </div>
        </div>

        <span v-else>
          {{ props.formattedRow[props.column.field] }}
        </span>
      </template>
    </vue-good-table>

    <vue-pagination
      :pagination="participants"
      @paginate="getData()"
      :offset="4"
    ></vue-pagination>

    <modal id="createParticipantModal" :modalTitle="modalTitle">
      <template v-slot:body>
        <form class="form form-vertical" id="formParticipant">
          <div class="form-body">
            <div class="row">
              <div class="col-12" v-if="form._id == '-1'">
                <div class="form-group">
                  <label>Option</label>
                  <select
                    class="form-control"
                    id="optionCreate"
                    @change.prevent="changeOption"
                    v-model="selectedOption"
                  >
                    <option
                      v-for="listValue in valuesList"
                      :value="listValue.value"
                      :key="listValue.value"
                    >
                      {{ listValue.name }}
                    </option>
                  </select>
                </div>
              </div>

              <div
                class="col-12"
                v-if="selectedOption == 'non_upload' && form._id == '-1'"
              >
                <div class="form-group">
                  <label>Integration Type</label>
                  <select
                    class="form-control"
                    id="integrationTypeOption"
                    @change.prevent="changeIntegrationTpe"
                    v-model="integrationTypeSelectedOption"
                  >
                    <option
                      v-for="listValue in integrationType"
                      :value="listValue.value"
                      :key="listValue.value"
                    >
                      {{ listValue.name }}
                    </option>
                  </select>
                </div>
              </div>

              <div
                class="col-12"
                v-if="
                  selectedOption == 'non_upload' &&
                  integrationTypeSelectedOption != '-1'
                "
              >
                <div class="form-group">
                  <label>Nik</label>
                  <div class="position-relative has-icon-left">
                    <input
                      type="text"
                      id="nik"
                      :class="isNikError"
                      class="form-control"
                      name="fname-icon"
                      placeholder="Nik"
                      v-model="form.nik"
                      autocomplete="off"
                    />
                    <div class="form-control-position">
                      <i class="bx bxs-id-card"></i>
                    </div>
                    <div class="is-invalid-feedback" v-if="isNikEmpty">
                      <i class="bx bx-radio-circle"></i>
                      {{ errorNikMsg }}
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="col-12"
                v-if="
                  integrationTypeSelectedOption == 'manual' &&
                  selectedOption == 'non_upload'
                "
              >
                <div class="form-group">
                  <label>Name</label>
                  <div class="position-relative has-icon-left">
                    <input
                      type="text"
                      id="name"
                      :class="isNameError"
                      class="form-control"
                      name="fname-icon"
                      placeholder="Name"
                      v-model="form.name"
                      autocomplete="off"
                    />
                    <div class="form-control-position">
                      <i class="bx bx-user"></i>
                    </div>
                    <div class="is-invalid-feedback" v-if="isNameEmpty">
                      <i class="bx bx-radio-circle"></i>
                      {{ errorNameMsg }}
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="col-12"
                v-if="
                  integrationTypeSelectedOption == 'manual' &&
                  selectedOption == 'non_upload'
                "
              >
                <div class="form-group">
                  <label>Password</label>
                  <div class="position-relative has-icon-left">
                    <input
                      type="password"
                      id="password"
                      :class="isPasswordError"
                      class="form-control"
                      name="fname-icon"
                      placeholder="Password"
                      v-model="form.password"
                      autocomplete="off"
                    />
                    <div class="form-control-position">
                      <i class="bx bxs-key"></i>
                    </div>
                    <div class="is-invalid-feedback" v-if="isPasswordEmpty">
                      <i class="bx bx-radio-circle"></i>
                      {{ errorPasswordMsg }}
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="col-12"
                v-if="selectedOption == 'upload'"
                style="margin-bottom: 20px"
              >
                <a
                  href="/api/download-form-participants"
                  id="download_form"
                  target="_blank"
                  class="btn btn-outline-primary btn-block"
                  >Download Form</a
                >
              </div>

              <div class="col-12" v-if="selectedOption == 'upload'">
                <div class="form-group">
                  <label>Upload Data Excel</label>
                  <div class="custom-file">
                    <input
                      type="file"
                      class="custom-file-input"
                      id="customFile"
                      name="customFile"
                      accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                      @change.prevent="onFileChange"
                    />
                    <div class="is-invalid-feedback" v-if="isUploadFileEmpty">
                      <i class="bx bx-radio-circle"></i>
                      {{ errorUploadFileMsg }}
                    </div>
                    <label :class="isUploadFileError">{{ file_name }}</label>
                  </div>
                </div>
              </div>
              <div class="col-12 d-flex justify-content-end">
                <button
                  type="submit"
                  class="btn btn-primary mr-1 mb-1"
                  @click.prevent="doStore"
                >
                  Submit
                </button>
                <button
                  type="reset"
                  class="btn btn-light-secondary mr-1 mb-1"
                  @click.prevent="closeModal"
                >
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </form>
      </template>
    </modal>

    <BlockUI v-show="isLoading"><img src="/images/loading.gif" /></BlockUI>
  </div>
</template>

<script>
import modal from "../Modal";
import VuePagination from "../Paginator";
import _ from "lodash";

export default {
  components: {
    modal,
    VuePagination,
  },
  data() {
    return {
      participants: {
        searchTerm: "",
        total: 0,
        per_page: 5,
        from: 1,
        to: 0,
        current_page: 1,
      },
      offset: 4,
      columns: [
        {
          label: "No",
          field: "S.No",
        },
        {
          label: "Nik",
          field: "nik",
          filterable: true,
        },
        {
          label: "Name",
          field: "name",
          filterable: true,
        },
        {
          label: "Registration At",
          field: "registration_at",
          filterable: false,
        },
        {
          label: "Action",
          field: "action",
        },
        //
      ],
      rows: [],

      selectedOption: "-1",
      integrationTypeSelectedOption: "-1",
      valuesList: [
        {
          value: "-1",
          name: "-- Please Select --",
        },
        {
          value: "upload",
          name: "Upload",
        },
        {
          value: "non_upload",
          name: "Non Upload",
        },
      ],
      integrationType: [
        {
          value: "-1",
          name: "-- Please Select --",
        },
        {
          value: "sync",
          name: "Sync W/ Attendance",
        },
        {
          value: "manual",
          name: "Manual",
        },
      ],
      form: {
        _id: "-1",
        nik: "",
        name: "",
        password: "",
        upload_file: "",
        selected_option: "",
        integration_type: "",
      },
      isLoading: false,
      isNikEmpty: false,
      isNameEmpty: false,
      isPasswordEmpty: false,
      modalTitle: "",
      file_name: "Choose file excel",
    };
  },
  computed: {
    isNikError: function () {
      return this.isNikEmpty
        ? "form-control is-error-validated"
        : "form-control";
    },
    isNameError: function () {
      return this.isNameEmpty
        ? "form-control is-error-validated"
        : "form-control";
    },
    isPasswordError: function () {
      return this.isPasswordEmpty
        ? "form-control is-error-validated"
        : "form-control";
    },
    isUploadFileError: function () {
      return this.isUploadFileEmpty
        ? "custom-file-label is-error-validated"
        : "custom-file-label";
    },
  },
  methods: {
    getData() {
      return axios
        .get("/api/data-participants", {
          headers: {
            Authorization: "Bearer " + this.$store.state.token,
          },
          params: {
            searchTerm: this.participants.searchTerm,
            page: this.participants.current_page,
            per_page: this.participants.per_page,
          },
        })
        .then((response) => {
          this.rows = response.data.data.participants.data;
          this.participants = response.data.data.participants;
        });
    },
    updateParams(newProps) {
      this.participants = Object.assign({}, this.participants, newProps);
    },
    editParticipant(id) {
      axios
        .get("/api/edit-participants", {
          headers: {
            Authorization: "Bearer " + this.$store.state.token,
          },
          params: {
            id: id,
          },
        })
        .then((response) => {
          if (response.status == "200") {
            this.form._id = response.data.data.participant.id;
            this.form.nik = response.data.data.participant.nik;
            this.form.name = response.data.data.participant.name;
            this.form.password = response.data.data.participant.birth_day;
            this.form.selected_option = "non_upload";
            this.form.upload_file = "";

            this.integrationTypeSelectedOption = "manual";
            this.selectedOption = "non_upload";
            this.modalTitle = "Update Participant";
            this.file_name = "Choose file excel";
            $("#createParticipantModal").modal("show");
          }
        })
        .catch((error) => {
          if (error.response) {
            if (error.response.status == "500") {
              Swal({
                toast: true,
                position: "top-end",
                type: "error",
                title: "Oops..",
                text: "Something went wrong, please contact ICT",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener("mouseenter", Swal.stopTimer);
                  toast.addEventListener("mouseleave", Swal.resumeTimer);
                },
              });
            }
          }
        });
    },
    deleteParticipant(id) {
      Swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes",
        confirmButtonClass: "btn btn-warning",
        cancelButtonClass: "btn btn-default ml-1",
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          axios
            .delete("/api/delete-participants", {
              headers: {
                Authorization: "Bearer " + this.$store.state.token,
              },
              data: {
                id: id,
              },
            })
            .then((response) => {
              if (response.status == "200") {
                Swal({
                  toast: true,
                  position: "top-end",
                  type: "success",
                  title: "Data has been deleted",
                  showConfirmButton: false,
                  timer: 3000,
                  timerProgressBar: true,
                  didOpen: (toast) => {
                    toast.addEventListener("mouseenter", Swal.stopTimer);
                    toast.addEventListener("mouseleave", Swal.resumeTimer);
                  },
                });

                this.getData();
              }
            })
            .catch((error) => {
              if (error.response) {
                if (error.response.status == "500") {
                  Swal({
                    toast: true,
                    position: "top-end",
                    type: "error",
                    title: "Oops..",
                    text: "Something went wrong, please contact ICT",
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                      toast.addEventListener("mouseenter", Swal.stopTimer);
                      toast.addEventListener("mouseleave", Swal.resumeTimer);
                    },
                  });
                }
              }
            });
        }
      });
    },
    showModal() {
      this.resetField();
      this.form = {
        _id: "-1",
        nik: "",
        name: "",
        password: "",
        upload_file: "",
        selected_option: "",
        integration_type: "",
      };
      this.file_name = "Choose file excel";
      this.modalTitle = "Create Participant";
      this.integrationTypeSelectedOption = "-1";
      this.selectedOption = "-1";
      $("#createParticipantModal").modal("show");
    },
    closeModal() {
      this.resetField();
      $("#createParticipantModal").modal("hide");
    },
    changeOption(e) {
      const id = e.target.value;
      this.selectedOption = id;
      this.form.selected_option = id;
    },
    changeIntegrationTpe(e) {
      const id = e.target.value;
      this.integrationTypeSelectedOption = id;
      this.form.integration_type = id;
    },
    onFileChange(e) {
      this.form.upload_file = e.target.files[0];
      this.file_name = e.target.files[0].name;
    },
    doStore() {
      if (this.selectedOption == -1) {
        Swal({
          toast: true,
          position: "top-end",
          type: "info",
          title: "Please select option type first",
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.addEventListener("mouseenter", Swal.stopTimer);
            toast.addEventListener("mouseleave", Swal.resumeTimer);
          },
        });
        return false;
      } else if (
        this.selectedOption == "non_upload" &&
        this.integrationTypeSelectedOption == -1
      ) {
        Swal({
          toast: true,
          position: "top-end",
          type: "info",
          title: "Please select integration type first",
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.addEventListener("mouseenter", Swal.stopTimer);
            toast.addEventListener("mouseleave", Swal.resumeTimer);
          },
        });
        return false;
      } else {
        if (this.selectedOption == "non_upload") {
          if (this.integrationTypeSelectedOption == "manual") {
            if (this.form.nik == "") {
              this.isNikEmpty = true;
              this.errorNikMsg = "The nik field is required.";
              return false;
            } else {
              this.isNikEmpty = false;
              this.errorNikMsg = "";
            }

            if (this.form.name == "") {
              this.isNameEmpty = true;
              this.errorNameMsg = "The name field is required.";
              return false;
            } else {
              this.isNameEmpty = false;
              this.errorNameMsg = "";
            }

            if (this.form.password == "") {
              this.isPasswordEmpty = true;
              this.errorPasswordMsg = "The password field is required.";
              return false;
            } else {
              this.isPasswordEmpty = false;
              this.errorPasswordMsg = "";
            }
          } else {
            if (this.form.nik == "") {
              this.isNikEmpty = true;
              this.errorNikMsg = "The nik field is required.";
              return false;
            } else {
              this.isNikEmpty = false;
              this.errorNikMsg = "";
            }
          }

          const headers = {
            "Content-Type": "application/json",
            Authorization: "Bearer " + this.$store.state.token,
          };

          this.isLoading = true;
          axios
            .post("/api/store-participants", this.form, {
              headers,
              onUploadProgress: function () {
                // this.resetField();
              },
            })
            .then((response) => {
              if (response.status == "200") {
                this.resetField();
                this.form = {
                  _id: "-1",
                  nik: "",
                  name: "",
                  password: "",
                  upload_file: "",
                };

                this.isLoading = false;
                Swal({
                  toast: true,
                  position: "top-end",
                  type: "success",
                  title: "Data has been saved",
                  showConfirmButton: false,
                  timer: 3000,
                  timerProgressBar: true,
                  didOpen: (toast) => {
                    toast.addEventListener("mouseenter", Swal.stopTimer);
                    toast.addEventListener("mouseleave", Swal.resumeTimer);
                  },
                });

                $("#createParticipantModal").modal("hide");
                this.getData();
              }
            })
            .catch((error) => {
              this.isLoading = false;
              this.resetField();
              if (error.response) {
                if (error.response.status == "500") {
                  Swal({
                    toast: true,
                    position: "top-end",
                    type: "error",
                    title: "Oops..",
                    text: "Something went wrong, please contact ICT",
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                      toast.addEventListener("mouseenter", Swal.stopTimer);
                      toast.addEventListener("mouseleave", Swal.resumeTimer);
                    },
                  });
                } else {
                  if (error.response.data.errors) {
                    if (error.response.data.errors.hasOwnProperty("nik")) {
                      this.isNikEmpty = true;
                      this.errorNikMsg = error.response.data.errors.nik[0];
                    } else {
                      this.isNikEmpty = false;
                      this.errorNikMsg = "";
                    }
                  } else {
                    this.isNikEmpty = false;
                    this.errorNikMsg = "";
                  }
                }
              }
            });
        } else {
          let formData = new FormData();
          formData.append("upload_file", this.form.upload_file);

          const headers = {
            "Content-Type": "multipart/form-data",
            Authorization: "Bearer " + this.$store.state.token,
          };

          this.isLoading = true;
          axios
            .post("/api/store-participant", formData, {
              headers,
            })
            .then((response) => {
              if (response.status === 200) {
                this.form = {
                  _id: "-1",
                  nik: "",
                  name: "",
                  password: "",
                  upload_file: "",
                };
                this.isLoading = false;

                Swal({
                  toast: true,
                  position: "top-end",
                  type: "success",
                  title: "Data has been saved",
                  showConfirmButton: false,
                  timer: 3000,
                  timerProgressBar: true,
                  didOpen: (toast) => {
                    toast.addEventListener("mouseenter", Swal.stopTimer);
                    toast.addEventListener("mouseleave", Swal.resumeTimer);
                  },
                });

                $("#createParticipantModal").modal("hide");
                this.getData();
              }
            })
            .catch((error) => {
              // code here when an upload is not valid
              this.isLoading = false;
              console.log("check error: ", error.response.data);
            });
        }
      }
    },
    resetField() {
      this.errorNikMsg = "";
      this.errorNameMsg = "";
      this.errorPasswordMsg = "";

      this.isNikEmpty = false;
      this.isNameEmpty = false;
      this.isPasswordEmpty = false;
    },
    onSearch: _.debounce(function (params) {
      this.updateParams(params);
      this.getData();
      return false;
    }, 500),
  },
  created() {
    this.getData();
    this.$root.$refs.tableParticipant = this;
  },
};
</script>
