<template>
  <div class="table-responsive">
    <vue-good-table
      mode="remote"
      :columns="columns"
      :rows="rows"
      :globalSearch="true"
      :sort-options="{
        enabled: false,
      }"
      :search-options="{
        enabled: true,
        trigger: 'enter',
        placeholder: 'Search this table',
        skipDiacritics: true,
      }"
      @on-search="onSearch"
      styleClass="table table-striped mb-0"
    >
      <template slot="table-row" slot-scope="props">
        <span v-if="props.column.field === 'S.No'">
          {{
            records.per_page * (records.current_page - 1) + (props.index + 1)
          }}
        </span>

        <div class="dropdown" v-if="props.column.field === 'action'">
          <span
            class="
              bx bx-dots-vertical-rounded
              font-medium-3
              dropdown-toggle
              nav-hide-arrow
              cursor-pointer
            "
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            role="menu"
          ></span>
          <div class="dropdown-menu dropdown-menu-right">
            <a
              class="dropdown-item edit-participant"
              href="#"
              @click="editRecord(props.row.id)"
              ><i class="bx bx-edit-alt mr-1"></i> Edit</a
            >
            <a
              class="dropdown-item delete-participant"
              href="#"
              :data-id="props.row.id"
              @click="deleteRecord(props.row.id)"
              ><i class="bx bx-trash mr-1"></i> Delete</a
            >
          </div>
        </div>

        <span v-if="props.column.field === 'event_date'">
          {{ props.row.event_date | formatDateTime }}
        </span>
        <span v-else>
          {{ props.formattedRow[props.column.field] }}
        </span>
      </template>
    </vue-good-table>

    <vue-pagination
      :pagination="records"
      @paginate="getData()"
      :offset="4"
    ></vue-pagination>

    <modal id="rundownEventModal" :modalTitle="modalTitle">
      <template v-slot:body>
        <form class="form form-vertical" id="formRundownEvent">
          <div class="form-body">
            <div class="row">
              <div class="col-12" v-if="form._id == '-1'">
                <div class="form-group">
                  <label>Option</label>
                  <select
                    class="form-control"
                    id="optionCreate"
                    @change.prevent="changeOption"
                    v-model="selectedOption"
                  >
                    <option
                      v-for="listValue in valuesList"
                      :value="listValue.value"
                      :key="listValue.value"
                    >
                      {{ listValue.name }}
                    </option>
                  </select>
                </div>
              </div>

              <div
                class="col-12"
                v-if="selectedOption == 'upload'"
                style="margin-bottom: 20px"
              >
                <a
                  href="/api/download-form-rundown-events"
                  id="download_form"
                  target="_blank"
                  class="btn btn-outline-primary btn-block"
                  >Download Form</a
                >
              </div>

              <div class="col-12" v-if="selectedOption == 'upload'">
                <div class="form-group">
                  <label>Upload Data Excel</label>
                  <div class="custom-file">
                    <input
                      type="file"
                      class="custom-file-input"
                      id="customFile"
                      name="customFile"
                      accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                      @change.prevent="onFileChange"
                    />
                    <div class="is-invalid-feedback" v-if="isUploadFileEmpty">
                      <i class="bx bx-radio-circle"></i>
                      {{ errorUploadFileMsg }}
                    </div>
                    <label :class="isUploadFileError">{{ file_name }}</label>
                  </div>
                </div>
              </div>

              <div class="col-12" v-if="selectedOption == 'non_upload'">
                <div class="form-group">
                  <label>Event Date</label>
                  <div class="position-relative has-icon-left">
                    <vue-datetime
                      type="datetime"
                      v-model="form.event_date"
                      :input-class="isDateError"
                      value-zone="Asia/Jakarta"
                      zone="Asia/Jakarta"
                      format="dd/MM/yyyy HH:mm:ss"
                      :backdrop-click="false"
                      :phrases="{ ok: 'Continue', cancel: 'Exit' }"
                      :hour-step="1"
                      :week-start="7"
                      use24-hour
                      auto
                    ></vue-datetime>
                    <div class="form-control-position">
                      <i class="bx bx-calendar"></i>
                    </div>
                    <div class="is-invalid-feedback" v-if="isDateEmpty">
                      <i class="bx bx-radio-circle"></i>
                      {{ errorDateMsg }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12" v-if="selectedOption == 'non_upload'">
                <div class="form-group">
                  <label>Name</label>
                  <div class="position-relative has-icon-left">
                    <input
                      type="text"
                      id="rundownName"
                      :class="isNameError"
                      class="form-control"
                      name="fname-icon"
                      placeholder="Name"
                      v-model="form.name"
                      autocomplete="off"
                    />
                    <div class="form-control-position">
                      <i class="bx bx-font"></i>
                    </div>
                    <div class="is-invalid-feedback" v-if="isNameEmpty">
                      <i class="bx bx-radio-circle"></i>
                      {{ errorNameMsg }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12" v-if="selectedOption == 'non_upload'">
                <div class="form-group">
                  <label>Description</label>
                  <div class="position-relative has-icon-left">
                    <textarea
                      class="form-control"
                      id="rundownDescription"
                      name="fname-icon"
                      rows="3"
                      :class="isDescError"
                      placeholder="Description"
                      v-model="form.description"
                    ></textarea>

                    <div class="form-control-position">
                      <i class="bx bx-paragraph"></i>
                    </div>
                    <div class="is-invalid-feedback" v-if="isDescEmpty">
                      <i class="bx bx-radio-circle"></i>
                      {{ errorDescMsg }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12" v-if="selectedOption == 'non_upload'">
                <div class="form-group">
                  <label>Location</label>
                  <div class="position-relative has-icon-left">
                    <input
                      type="text"
                      id="nik"
                      :class="isLocationError"
                      class="form-control"
                      name="fname-icon"
                      placeholder="Location"
                      v-model="form.location"
                      autocomplete="off"
                    />
                    <div class="form-control-position">
                      <i class="bx bx-map-pin"></i>
                    </div>
                    <div class="is-invalid-feedback" v-if="isLocationEmpty">
                      <i class="bx bx-radio-circle"></i>
                      {{ errorLocationMsg }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 d-flex justify-content-end">
                <button
                  type="submit"
                  class="btn btn-primary mr-1 mb-1"
                  @click.prevent="doStore"
                >
                  Submit
                </button>
                <button
                  type="reset"
                  class="btn btn-light-secondary mr-1 mb-1"
                  @click.prevent="closeModal"
                >
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </form>
      </template>
    </modal>

    <BlockUI v-show="isLoading"><img src="/images/loading.gif" /></BlockUI>
  </div>
</template>

<script>
import { DateTime } from "luxon";
import modal from "../Modal";
import VuePagination from "../Paginator";
import _ from "lodash";

export default {
  components: {
    modal,
    VuePagination,
  },
  data() {
    return {
      records: {
        searchTerm: "",
        total: 0,
        per_page: 5,
        from: 1,
        to: 0,
        current_page: 1,
      },
      offset: 4,
      columns: [
        {
          label: "No",
          field: "S.No",
        },
        {
          label: "Event Date",
          field: "event_date",
        },
        {
          label: "Name",
          field: "name",
        },
        {
          label: "Description",
          field: "description",
        },
        {
          label: "Location",
          field: "location",
        },
        {
          label: "Action",
          field: "action",
        },
        //
      ],
      rows: [],
      form: {
        _id: "-1",
        event_date: "",
        name: "",
        description: "",
        location: "",
        upload_file: "",
        selected_option: "",
      },
      valuesList: [
        {
          value: "-1",
          name: "-- Please Select --",
        },
        {
          value: "upload",
          name: "Upload",
        },
        {
          value: "non_upload",
          name: "Non Upload",
        },
      ],
      selectedOption: "-1",
      isLoading: false,
      isDateEmpty: false,
      isNameEmpty: false,
      isDescEmpty: false,
      isUploadFileEmpty: false,
      isLocationEmpty: false,
      modalTitle: "",
      file_name: "Choose file excel",
    };
  },
  computed: {
    isDateError: function () {
      return this.isDateEmpty
        ? "form-control is-error-validated"
        : "form-control";
    },
    isNameError: function () {
      return this.isNameEmpty
        ? "form-control is-error-validated"
        : "form-control";
    },
    isDescError: function () {
      return this.isDescEmpty
        ? "form-control is-error-validated"
        : "form-control";
    },
    isLocationError: function () {
      return this.isLocationEmpty
        ? "form-control is-error-validated"
        : "form-control";
    },
    isUploadFileError: function () {
      return this.isUploadFileEmpty
        ? "custom-file-label is-error-validated"
        : "custom-file-label";
    },
  },
  methods: {
    getData() {
      return axios
        .get("/api/data-rundown-events", {
          headers: {
            Authorization: "Bearer " + this.$store.state.token,
          },
          params: {
            searchTerm: this.records.searchTerm,
            page: this.records.current_page,
            per_page: this.records.per_page,
          },
        })
        .then((response) => {
          this.rows = response.data.data.records.data;
          this.records = response.data.data.records;
        });
    },
    updateParams(newProps) {
      this.records = Object.assign({}, this.records, newProps);
    },
    editRecord(id) {
      axios
        .get("/api/edit-rundown-events", {
          headers: {
            Authorization: "Bearer " + this.$store.state.token,
          },
          params: {
            id: id,
          },
        })
        .then((response) => {
          if (response.status == "200") {
            this.form._id = response.data.data.record.id;
            this.form.event_date = response.data.data.record.event_date;
            this.form.name = response.data.data.record.name;
            this.form.description = response.data.data.record.description;
            this.form.location = response.data.data.record.location;
            this.modalTitle = "Update Rundown Event";
            $("#rundownEventModal").modal("show");
          }
        })
        .catch((error) => {
          if (error.response) {
            if (error.response.status == "500") {
              Swal({
                toast: true,
                position: "top-end",
                type: "error",
                title: "Oops..",
                text: "Something went wrong, please contact ICT",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener("mouseenter", Swal.stopTimer);
                  toast.addEventListener("mouseleave", Swal.resumeTimer);
                },
              });
            }
          }
        });
    },
    deleteRecord(id) {
      Swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes",
        confirmButtonClass: "btn btn-warning",
        cancelButtonClass: "btn btn-default ml-1",
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          axios
            .delete("/api/delete-rundown-events", {
              headers: {
                Authorization: "Bearer " + this.$store.state.token,
              },
              data: {
                id: id,
              },
            })
            .then((response) => {
              if (response.status == "200") {
                Swal({
                  toast: true,
                  position: "top-end",
                  type: "success",
                  title: "Data has been deleted",
                  showConfirmButton: false,
                  timer: 3000,
                  timerProgressBar: true,
                  didOpen: (toast) => {
                    toast.addEventListener("mouseenter", Swal.stopTimer);
                    toast.addEventListener("mouseleave", Swal.resumeTimer);
                  },
                });

                this.getData();
              }
            })
            .catch((error) => {
              if (error.response) {
                if (error.response.status == "500") {
                  Swal({
                    toast: true,
                    position: "top-end",
                    type: "error",
                    title: "Oops..",
                    text: "Something went wrong, please contact ICT",
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                      toast.addEventListener("mouseenter", Swal.stopTimer);
                      toast.addEventListener("mouseleave", Swal.resumeTimer);
                    },
                  });
                }
              }
            });
        }
      });
    },
    showModal() {
      this.form = {
        _id: "-1",
        event_date: "",
        name: "",
        description: "",
        location: "",
        upload_file: "",
      };
      this.selectedOption = "-1";
      this.file_name = "Choose file excel";
      this.modalTitle = "Create Rundown Event";
      $("#rundownEventModal").modal("show");
    },
    closeModal() {
      this.resetField();
      $("#rundownEventModal").modal("hide");
    },
    changeOption(e) {
      const id = e.target.value;
      this.selectedOption = id;
      this.form.selected_option = id;
    },
    onFileChange(e) {
      this.form.upload_file = e.target.files[0];
      this.file_name = e.target.files[0].name;
    },
    doStore() {
      if (this.selectedOption == "non_upload") {
        if (!this.form.event_date) {
          this.isDateEmpty = true;
          this.errorDateMsg = "The date field is required.";
          return false;
        } else {
          this.isDateEmpty = false;
          this.errorDateMsg = "";
        }

        if (this.form.name == "") {
          this.isNameEmpty = true;
          this.errorNameMsg = "The name field is required.";
          return false;
        } else {
          this.isNameEmpty = false;
          this.errorNameMsg = "";
        }

        if (this.form.description == "") {
          this.isDescEmpty = true;
          this.errorDescMsg = "The descrition field is required.";
          return false;
        } else {
          this.isDescEmpty = false;
          this.errorDescMsg = "";
        }

        if (this.form.location == "") {
          this.isLocationEmpty = true;
          this.errorLocationMsg = "The location field is required.";
          return false;
        } else {
          this.isLocationEmpty = false;
          this.errorLocationMsg = "";
        }

        const eventDateFormated = DateTime.fromISO(
          this.form.event_date
        ).toFormat("yyyy-MM-dd H:mm:ss");

        this.form.event_date = eventDateFormated;

        const headers = {
          "Content-Type": "application/json",
          Authorization: "Bearer " + this.$store.state.token,
        };

        this.isLoading = true;

        axios
          .post("/api/store-rundown-events", this.form, {
            headers,
          })
          .then((response) => {
            if (response.status === 200) {
              this.form = {
                _id: "-1",
                event_date: "",
                name: "",
                description: "",
                location: "",
              };
              this.isLoading = false;

              Swal({
                toast: true,
                position: "top-end",
                type: "success",
                title: "Data has been saved",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener("mouseenter", Swal.stopTimer);
                  toast.addEventListener("mouseleave", Swal.resumeTimer);
                },
              });

              $("#rundownEventModal").modal("hide");
              this.getData();
            }
          })
          .catch((error) => {
            this.isLoading = false;
            if (error.response) {
              if (error.response.status == "500") {
                Swal({
                  toast: true,
                  position: "top-end",
                  type: "error",
                  title: "Oops..",
                  text: "Something went wrong, please contact ICT",
                  showConfirmButton: false,
                  timer: 3000,
                  timerProgressBar: true,
                  didOpen: (toast) => {
                    toast.addEventListener("mouseenter", Swal.stopTimer);
                    toast.addEventListener("mouseleave", Swal.resumeTimer);
                  },
                });
              }
            }
          });
      } else {
        let formData = new FormData();
        formData.append("upload_file", this.form.upload_file);
        formData.append("selected_option", "upload");

        const headers = {
          "Content-Type": "multipart/form-data",
          Authorization: "Bearer " + this.$store.state.token,
        };

        this.isLoading = true;
        axios
          .post("/api/store-rundown-events", formData, {
            headers,
          })
          .then((response) => {
            if (response.status === 200) {
              this.form = {
                description: "",
                upload_file: "",
              };
              this.isLoading = false;

              Swal({
                toast: true,
                position: "top-end",
                type: "success",
                title: "Data has been saved",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener("mouseenter", Swal.stopTimer);
                  toast.addEventListener("mouseleave", Swal.resumeTimer);
                },
              });

              $("#rundownEventModal").modal("hide");
              this.getData();
            }
          })
          .catch((error) => {
            this.isLoading = false;
            if (error.response) {
              if (error.response.status == "500") {
                Swal({
                  toast: true,
                  position: "top-end",
                  type: "error",
                  title: "Oops..",
                  text: "Something went wrong, please contact ICT",
                  showConfirmButton: false,
                  timer: 3000,
                  timerProgressBar: true,
                  didOpen: (toast) => {
                    toast.addEventListener("mouseenter", Swal.stopTimer);
                    toast.addEventListener("mouseleave", Swal.resumeTimer);
                  },
                });
              } else {
                if (error.response.data.errors) {
                  if (
                    error.response.data.errors.hasOwnProperty("upload_file")
                  ) {
                    this.isUploadFileEmpty = true;
                    this.errorUploadFileMsg =
                      error.response.data.errors.upload_file[0];
                  } else {
                    this.isUploadFileEmpty = false;
                    this.errorUploadFileMsg = "";
                  }
                } else {
                  this.isUploadFileEmpty = false;
                  this.errorUploadFileMsg = "";
                }
              }
            }
          });
      }
    },
    resetField() {
      this.errorDateMsg = "";
      this.errorNameMsg = "";
      this.errorDescMsg = "";
      this.errorLocationMsg = "";

      this.isDateEmpty = false;
      this.isNameEmpty = false;
      this.isDescEmpty = false;
      this.isLocationEmpty = false;
    },
    onSearch: _.debounce(function (params) {
      this.updateParams(params);
      this.getData();
      return false;
    }, 500),
  },
  created() {
    this.getData();
    this.$root.$refs.tableRundownEvent = this;
  },
};
</script>