<template>
  <div class="table-responsive">
    <vue-good-table
      mode="remote"
      :columns="columns"
      :rows="rows"
      :globalSearch="true"
      :sort-options="{
        enabled: false,
      }"
      :search-options="{
        enabled: true,
        trigger: 'enter',
        placeholder: 'Search this table',
        skipDiacritics: true,
      }"
      @on-search="onSearch"
      styleClass="table mb-0"
    >
      <template slot="table-row" slot-scope="props">
        <span v-if="props.column.field === 'S.No'">
          {{
            records.per_page * (records.current_page - 1) + (props.index + 1)
          }}
        </span>

        <span v-if="props.column.field === 'description'">
          {{ props.row.description }}
        </span>

        <span v-if="props.column.field === 'voter_image_url'">
          <a :href="props.row.voter_image_url" target="_blank">
            <img
              class="rounded-circle mr-1"
              :src="props.row.voter_image_url"
              alt="avatar"
              height="50"
              width="50"
          /></a>
        </span>

        <div class="dropdown" v-if="props.column.field === 'action'">
          <span
            class="
              bx bx-dots-vertical-rounded
              font-medium-3
              dropdown-toggle
              nav-hide-arrow
              cursor-pointer
            "
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            role="menu"
          ></span>
          <div class="dropdown-menu dropdown-menu-right">
            <a
              class="dropdown-item delete-participant"
              href="#"
              :data-id="props.row.id"
              @click="deleteParticipant(props.row.id)"
              ><i class="bx bx-trash mr-1"></i> Delete</a
            >
          </div>
        </div>
      </template>
    </vue-good-table>

    <vue-pagination
      :pagination="records"
      @paginate="getData()"
      :offset="4"
    ></vue-pagination>

    <BlockUI v-show="isLoading"><img src="/images/loading.gif" /></BlockUI>
  </div>
</template>

<script>
import modal from "../Modal";
import VuePagination from "../Paginator";
import _ from "lodash";

export default {
  components: {
    modal,
    VuePagination,
  },
  data() {
    return {
      records: {
        searchTerm: "",
        total: 0,
        per_page: 5,
        from: 1,
        to: 0,
        current_page: 1,
      },
      offset: 4,
      columns: [
        {
          label: "No",
          field: "S.No",
        },
        {
          label: "Description",
          field: "description",
          filterable: true,
        },
        {
          label: "File Name",
          field: "voter_image_url",
        },
        {
          label: "Action",
          field: "action",
        },
        //
      ],
      rows: [],
    };
  },
  computed: {
    isDescError: function () {
      return this.isDescEmpty
        ? "form-control is-error-validated"
        : "form-control";
    },
    isUploadFileError: function () {
      return this.isUploadFileEmpty
        ? "custom-file-label is-error-validated"
        : "custom-file-label";
    },
  },
  methods: {
    getData() {
      return axios
        .get("/api/data-voters", {
          headers: {
            Authorization: "Bearer " + this.$store.state.token,
          },
          params: {
            searchTerm: this.records.searchTerm,
            page: this.records.current_page,
            per_page: this.records.per_page,
          },
        })
        .then((response) => {
          this.rows = response.data.data.records.data;
          this.records = response.data.data.records;
        });
    },
    updateParams(newProps) {
      this.records = Object.assign({}, this.records, newProps);
    },
    deleteParticipant(id) {
      Swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes",
        confirmButtonClass: "btn btn-warning",
        cancelButtonClass: "btn btn-default ml-1",
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          axios
            .delete("/api/delete-voters", {
              headers: {
                Authorization: "Bearer " + this.$store.state.token,
              },
              data: {
                id: id,
              },
            })
            .then((response) => {
              if (response.status == "200") {
                Swal({
                  toast: true,
                  position: "top-end",
                  type: "success",
                  title: "Data has been deleted",
                  showConfirmButton: false,
                  timer: 3000,
                  timerProgressBar: true,
                  didOpen: (toast) => {
                    toast.addEventListener("mouseenter", Swal.stopTimer);
                    toast.addEventListener("mouseleave", Swal.resumeTimer);
                  },
                });

                this.getData();
              }
            })
            .catch((error) => {
              if (error.response) {
                if (error.response.status == "500") {
                  Swal({
                    toast: true,
                    position: "top-end",
                    type: "error",
                    title: "Oops..",
                    text: "Something went wrong, please contact ICT",
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                      toast.addEventListener("mouseenter", Swal.stopTimer);
                      toast.addEventListener("mouseleave", Swal.resumeTimer);
                    },
                  });
                }
              }
            });
        }
      });
    },
    showModal() {
      this.form = {
        description: "",
        upload_file: "",
      };

      this.file_name = "Choose file";
      this.modalTitle = "Create Voter";
      this.resetField();
      $("#createVoterModal").modal("show");
    },
    closeModal() {
      this.resetField();
      this.file_name = "";
      $("#createVoterModal").modal("hide");
    },
    onFileChange(e) {
      this.form.upload_file = e.target.files[0];
      this.file_name = e.target.files[0].name;
    },
    doStore() {
      let formData = new FormData();
      formData.append("upload_file", this.form.upload_file);
      formData.append("description", this.form.description);

      const headers = {
        "Content-Type": "multipart/form-data",
        Authorization: "Bearer " + this.$store.state.token,
      };

      this.isLoading = true;
      axios
        .post("/api/store-voters", formData, {
          headers,
        })
        .then((response) => {
          if (response.status === 200) {
            this.form = {
              description: "",
              upload_file: "",
            };
            this.isLoading = false;

            Swal({
              toast: true,
              position: "top-end",
              type: "success",
              title: "Data has been saved",
              showConfirmButton: false,
              timer: 3000,
              timerProgressBar: true,
              didOpen: (toast) => {
                toast.addEventListener("mouseenter", Swal.stopTimer);
                toast.addEventListener("mouseleave", Swal.resumeTimer);
              },
            });

            $("#createVoterModal").modal("hide");
            this.getData();
          }
        })
        .catch((error) => {
          this.isLoading = false;
          if (error.response) {
            if (error.response.status == "500") {
              Swal({
                toast: true,
                position: "top-end",
                type: "error",
                title: "Oops..",
                text: "Something went wrong, please contact ICT",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener("mouseenter", Swal.stopTimer);
                  toast.addEventListener("mouseleave", Swal.resumeTimer);
                },
              });
            } else {
              if (error.response.data.errors) {
                if (error.response.data.errors.hasOwnProperty("description")) {
                  this.isDescEmpty = true;
                  this.errorDescMsg = error.response.data.errors.description[0];
                } else {
                  this.isDescEmpty = false;
                  this.errorDescMsg = "";
                }

                if (error.response.data.errors.hasOwnProperty("upload_file")) {
                  this.isUploadFileEmpty = true;
                  this.errorUploadFileMsg =
                    error.response.data.errors.upload_file[0];
                } else {
                  this.isUploadFileEmpty = false;
                  this.errorUploadFileMsg = "";
                }
              } else {
                this.isDescEmpty = false;
                this.errorDescMsg = "";
                this.isUploadFileEmpty = false;
                this.errorUploadFileMsg = "";
              }
            }
          }
        });
    },
    resetField() {
      this.errorDescMsg = "";
      this.errorUploadFileMsg = "";

      this.isDescEmpty = false;
      this.isUploadFileEmpty = false;
      this.file_name = "Choose file";
    },
    onSearch: _.debounce(function (params) {
      this.updateParams(params);
      this.getData();
      return false;
    }, 500),
  },
  created() {
    this.getData();
    this.$root.$refs.tableVoter = this;
  },
};
</script>