/*================================================================================
	Item Name: Frest HTML Admin Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.is-error-validated {
    border-color: #FF5B5C;
    padding-right: calc(1.4em + 1.269rem);
    /* background-image: url(data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'12\' height=\'12\' fill=\'none\' stroke=\'%23FF5B5C\' viewBox=\'0 0 12 12\'%3e%3ccircle cx=\'6\' cy=\'6\' r=\'4.5\'/%3e%3cpath stroke-linejoin=\'round\' d=\'M5.8 3.6h.4L6 6.5z\'/%3e%3ccircle cx=\'6\' cy=\'8.2\' r=\'.6\' fill=\'%23FF5B5C\' stroke=\'none\'/%3e%3c/svg%3e); */
    background-repeat: no-repeat;
    background-position: right calc(.35em + .235rem) center;
    background-size: calc(.7em + .47rem) calc(.7em + .47rem);
}

.is-invalid-feedback {
    /* display: none; */
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #FF5B5C;
}

form input.error,
form input.error:focus {
    border-color: #FF5B5C !important;
}

.stuck {
    height: 200em;
    overflow-x: hidden;
    overflow-y: scroll;
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .margin-dashboard-growth {
        margin-left: 3rem!important;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .margin-dashboard-growth {
        margin-left: 3rem!important;
    }
}